snippet --
	-----------------------------------------------------------------------------
	${1}
snippet __
	_____________________________________________________________________________
	${1}
snippet asr
	[source, ruby]
	-----------------------------------------------------------------------------
	${1:source code}
	-----------------------------------------------------------------------------
snippet asp
	[source, python]
	-----------------------------------------------------------------------------
	${1:source code}
	-----------------------------------------------------------------------------
snippet ass
	[source, sh]
	-----------------------------------------------------------------------------
	${1:source code}
	-----------------------------------------------------------------------------
snippet asb
	[source, sh]
	-----------------------------------------------------------------------------
	${1:source code}
	-----------------------------------------------------------------------------
snippet h0
	= ${1:title of the document}
snippet h1
	== ${1:section level 1}
snippet h2
	=== ${1:section level 2}
snippet h3
	==== ${1:section level 3}
snippet h4
	===== ${1:section level 4}
snippet h5
	====== ${1:section level 5}
snippet ahead
	:ascii-ids:
	:iconsdir: /usr/share/asciidoc/icons
	:imagesdir: ./images
	${1}
snippet aimage
	image:${1:image.ext}[alt="${2:Image title}", scaledwidth="75%"]
	${3}
snippet aimg
	image:${1:image.ext}[]
	${3}
